<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    
    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4" ><b>Welcome to <%= title %></b></h1>
      </div>
      <div>
        <br>
        <h3>Here you will be able to create you survey.</h3>
        <h5>Descover the public opinion, and make better decision.</h5>
        <div>
          <br>
          <p>
            Our servey are free and easy to use. Start Using now! 
          </p>
        </div>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>